{require_otp_vsn, "R16|17"}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(^riak_cs_config$|^riak_cs_riak_client$|^riak_cs_utils$|^riak_cs_mb_helper$)\" : Mod)", []}]}.

{reset_after_eunit, true}.

{deps, [
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "2.1.1"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.1.1"}}}
       ]}.
